@charset "UTF-8";

h3 {
    font-size: 3rem;
    text-align: center;
}
ol {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  font-size: 1.2rem;
}
ol > li:nth-of-type(3) {
  margin-right: -1rem;
  margin-left: 5rem;
}
ol ~ p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}
button {
  width: 8rem;
  height: 5rem;
  transition: all 2s;
}
button:nth-of-type(1) {
  background-color: lightblue;
  margin-left: 6rem;
  color: white;
}
button:nth-of-type(2) {
background-color: lightgreen;
margin-left: 55rem;
color: white;
}
button:hover {
transition-delay: ease-out;
transform: scale(2);
background-color: blue;
color: red;
}