@charset "UTF-8";

html {
    word-wrap: break-word;
    display: block;
    max-width: 100%;
    height: auto;
    background-image: linear-gradient(90deg, rgba(255, 70, 0, .5),  rgba(255, 0, 255, 1), rgba(0, 255, 20, 1), rgba(25, 225, 197, .7), rgba(225, 37, 176, 1));

}

h1 {
    text-align: center;
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
}

#style p:nth-of-type(1) {
  position: absolute;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 10%;
  white-space: pre;
  flex-wrap: wrap;
  line-height: 3rem;
}

.petah {
    position: absolute;
}
p.p {
  font-size: 2rem;
  margin-left: 70%;
}
img.sisters {
    margin-left: 60%;
    margin-bottom: 5rem;
}
p#content {
  margin-left: 70%;
  margin-top: -4rem;
}
nav {
    text-decoration: none;
    text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  body {
    display: inline;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    width: 100%;
    flex-wrap: wrap;
  }
}